<meta charset="utf-8">
<title>Pixi Challenge</title>

<!--Fonts-->
<link href="https://fonts.googleapis.com/css?family=Nova+Script" rel="stylesheet">

<!--Main Style Sheet-->
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

<!--PixiJS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.1.1/pixi.min.js"></script>

<!--Matter.js-->
<script src="lib/matter-js/build/matter.js"></script>

<!--JQUERY-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!--Semantic UI-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>

<!--Page Scripts-->
<script src="pagescripts.js"></script>

<!--        <script src="src/trial/phytest.js"></script>-->
<script src="src/objects/gameObject.js"></script>
<script src="src/objects/goal.js"></script>
<script src="src/objects/puck.js"></script>

<!--Tools-->
<script src="src/tools/keyboard.js"></script>
<script src="src/tools/drawtools.js"></script>
<script src="src/tools/effects.js"></script>
<script src="src/tools/timer.js"></script>

<!--States-->
<script src="src/states/state.js"></script>
<script src="src/states/playState.js"></script>
<script src="src/states/menuState.js"></script>

<script src="src/game.js"></script>
<script src="src/main.js"></script>

<!--        <script src="src/trial/main.js"></script>-->