<div class="ui top menu">
    <div class="item">
        <img src="smoreley.png">
    </div>
    <a class="active item" href="/">
        Home
    </a>
    <a class="item" href="stats">
        Stats
    </a>
    <a class="item" href="guide">
        Guide
    </a>
    <div class="right menu">
        <div class="item">
            <div id="playerName" class="ui icon input">
            </div>
        </div>
    </div>
</div>