:root {
    --windowWidth: 640px;
    --windowHeight: 360px;
/*
    --windowWidth: 1280px;
    --windowHeight: 720px;
*/
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f0f0f0;
}

#game-canvas {
/*    background-color: #e74c3c;*/
}

.center {
    width: 90vw;
    max-width: 100vh;
    margin: 0 auto;
}

.ui.secondary.menu {
    background-color: #f1f1f1;
}

.ui.container.segment {
/*    width: 900px !important;*/
}

/*
.center {
    background-color: #3E4551;
    width: var(--windowWidth);
    height: var(--windowHeight);    
    position: absolute;
    left: calc(50vw - (var(--windowWidth)/2));
    top: calc(50vh - var(--windowHeight)/2);
}
*/
