<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>
        <div class="ui secondary pointing menu">
            <a class="item" href="/">
                Home
            </a>
            <a class="item" href="stats">
                Stats
            </a>
            <a class="active item" href="guide">
                Guide
            </a>
            <div class="right menu">
                <div class="item">
                    <div id="playerName" class="ui icon input">
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h1 class="ui header">How To Play PuckPuck</h1>
                        <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
                        <h1 class="ui header">We Make Bananas That Can Dance</h1>
                        <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
                    </div>
                    <div class="six wide right floated column">
                        <img src="bin/imgs/goal.png">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="ui vertical stripe segment">
            <div class="ui text container">
                <h1 class="ui header">Breaking The Grid, Grabs Your Attention</h1>
                
                <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
                
                <h3 class="ui horizontal header divider">
                    <a href="/stats">The Stats</a>
                </h3>
                
                <h1 class="ui header">Did We Tell You About Our Bananas?</h1>
                
                <p>Yes I know you probably disregarded the earlier boasts as non-sequitor filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="center aligned column">
                    <a class="ui huge button" href="/">Check it out!</a>
                </div>
            </div>
        </div>
        
        <% include ../partials/footer.ejs %>
    </body>
</html>